/*This style sheet applies styles based off part 8 of part 2   */


#locations{
    background-color: aquamarine;
    margin: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}

#score{
background-color: blanchedalmond;
margin: 0.5em 0.5em 0.5em 0.5em;
padding: auto;
text-align: center;
}

#help{
    background-color: red;
    color: white;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: auto;
    text-align: center;
}


 p {
    background-color: yellow;
    margin: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}
